---
---

@import "{{ site.theme }}";


table { width: 100%; border: 0px solid #ebebeb; }

th { font-weight: 500; }

td { font-weight: 300; text-align: left; border: 0px solid #ebebeb; }

img.icon { width:24px; height:24px; vertical-align:middle; }

ul li ul li { list-style-type: square; }
